{% extends 'admin.twig' %}
{% block content %}
<h1>Matomo DB performance analyzes</h1>
<p>This page will run a few (light weight) sql querys and present some guidance regarding your SQL Database<br>
    Most of the calculations are PHP rewrites of the legendary tuning-primer.sh  Writen by: Matthew Montgomery
    <a target="_blank" href="https://bugs.launchpad.net/mysql-tuning-primer">https://bugs.launchpad.net/mysql-tuning-primer</a></p>
<h2>Memory usage</h2>
<p>{{ memUsage.msg1 | raw}}</p>
<h2>Network</h2>
<p>Database connection sample took {{ db_connection }} milliseconds</p>
<h2>Temporary tables</h2>
<p>{{ msg | raw}}</p>

<h2>Query Cache</h2>
<p>{{ queryCacheCheck.msg | raw}}</p>
<p>{{ queryCacheCheck.msgFrag | raw}}</p>
<p>{{ queryCacheCheck.msgUnused | raw}}</p>
<p>{{ queryCacheCheck.msgSize | raw}}</p>

<h2>Innodb Buffer pool</h2>
<p>{{ getBufferpoolTest.message1 | raw}}</p>



<h2>Mysql Performance Schema Output</h2>

<table style="max-width: 600px;">
    <thead><th>Name</th><th>Status</th></thead>
    <tbody>
{% for info in getBufferpoolTest.message2 %}
        <tr><td>{{ info.Name }}</td><td>{{ info.Status }}</td></tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}
